* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #ffe2ff;
    border-radius: 15px;
    max-width: 80%;
    margin-bottom: 5%;
}

.opcoes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.opcoes button {
    cursor: pointer;
    background-color: #fd82fd;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
    padding: 1.2%;
}

.opcoes button:hover {
    background-color: #fdb0f9;
    background-color: #fdb0f9;
    padding: 1.5%;
}

.main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
}

.intro h2 {
    margin-top: 10px;
}
.intro h3 {
    margin-top: 10px;
}
.form-section {
    margin: 15px auto auto 35px;
    background-color: #fdb0f9;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0 0 10px #cba6ca;
    width: 100%;
    flex: 1;
}

.form-section h2 {
    text-align: center;
}

#Infect-Forms {
    display: flex;
    flex-direction: column;
}

#Infect-Forms label {
    margin-top: 10px;
}

#Infect-Forms input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#Infect-Forms button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #fd82fd;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    display: block;
    margin: 20px auto 0;
}

#Infect-Forms button:hover {
    background-color: #fdb0f9;
    background-color: #fdb0f9;
}
#edoIntro h3,
h2 {
    margin-top: 2%;
}
#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0f7fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

@media (max-width: 1250px) {
    .main-content {
        flex-direction: column;
    }
    .form-section {
        margin: auto;
    }

    .images {
        flex-direction: column;
    }

    #img2 {
        display: none;
    }

    #img1 {
        display: none;
    }
}

@media (max-width: 600px) {
    .opcoes {
        flex-direction: column;
    }

    .opcoes button {
        margin: 3px;
        padding: 3%;
    }

    .opcoes button:hover {
        padding: 4%;
    }
}
